@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
}  

@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}


html {
    font-family: 'Outfit', 'Young Serif', sans-serif;
    font-size: 16px;
}

/* ------  COMPOSITION   ------ */

body {
    display: flex;
    min-width: 320px;
    place-items: center;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;    
}

main {  
    height: auto;
    width: 320px;
    margin: 0 auto;
    padding-bottom: 35px;      
}

/* CLASSES 

1. image-wrapper
2. recipe-wrapper
2.1. title-wrapper
2.2. prep-wrapper
2.3. ingredients-wrapper
2.4. instructions-wrapper
2.5. nutrition-wrapper

*/

.image-wrapper, img, .recipe-wrapper {
    width: 320px;    
}

.title-wrapper, .prep-wrapper, 
.ingredients-wrapper, .instructions-wrapper, 
.nutrition-wrapper {
    margin: auto 22px;       
} 

footer {
    position: fixed;
    bottom: 0px;
    height: 14px;
    text-align: center;
    width: 100%;
    background-color: var(--white);  
}




/*------  UTILITIES  ------*/

.prep-wrapper li, .ingredients-wrapper li, .instructions-wrapper li {
    padding-left: 10px;    
}

.ingredients-wrapper ul, .instructions-wrapper ol {
    padding-left: 25px;    
}

.rose-bg {
    background-color: var(--rose-50);
}

.title-text {
    color: var(--stone-900);
}

.title-text2 {
    color: var(--brown-800);
}

.title-mf {
    font-size: 2rem;
    font-family: 'Young Serif';
    font-weight: 500;
    line-height: 1;
}

.title-f {
    font-size: 1.75rem;
    font-family: 'Young Serif';
}

.pointer {
    font-weight: 800;
}

.center {
    display: inline-block;
    vertical-align: middle;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/*-------  BLOCKS  -------*/

p, li {
    line-height: 1.55;
}

.prep-wrapper {       
    padding: 5px;
}

.prep-title {
    color: var(--rose-800);
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 15px;
    margin-top: 7px;     
}

.prep-wrapper ul {
    margin-top: -13px;
}

.prep-wrapper li {
    margin-top: 5px;
    margin-left: 2px;
}


/* INGREDIENTS & INSTRUCTIONS */


.ingredients-wrapper li, .instructions-wrapper li {
    margin-top: 5px;        
}


.separator {
    border: 1px solid var(--stone-150);
    margin: 35px 22px;
}


/* NUTRITION */

th {
    font-weight: 400;
}

td {
    font-weight: 800;
    color: var(--brown-800);
}


th, td {
    border-bottom: 1px solid var(--stone-150);
    padding: 10px 40px;
}

.last-row th, .last-row td {
    border-bottom: none;
}





/*------  EXCEPTIONS  ------*/


.ingredients-wrapper li::marker, .instructions-wrapper li::marker {
    color: var(--brown-800);
    font-weight: 800;
}

.prep-wrapper li::marker {
    color: var(--rose-800);
}




@media screen and (min-width: 375px) {    
    
    main, .image-wrapper, img, .recipe-wrapper {
        min-width: 375px;
    } 

    .title-wrapper, .prep-wrapper, 
    .ingredients-wrapper, .instructions-wrapper, 
    .nutrition-wrapper {
        margin: auto 32px;       
    }
    
    .separator {
        margin: 35px 30px;
    }

    .title-mf {
        font-size: 2.25rem;
        font-weight: 500;
        line-height: 1;
    } 

    .prep-wrapper {        
        margin-top: 30px;
        padding-top: 12px;        
    }    
       

    .prep-wrapper li {        
        margin-right: 25px !important;  
    }

    th, td {
        padding: 10px 48px;
    }

}

@media screen and (min-width: 600px) {
     
    body {
        background-color: var(--stone-100);
    }

    main {             
        width: 550px;           
        margin: 0 auto;                   
    }

    footer {
        background-color: var(--stone-100);
    }

    .full-recipe-wrapper {
        height: auto;
        width: 550px;
        margin-top: 25px;
        padding-top: 2px;
        padding-bottom: 25px;
        background-color: var(--white);
        border-radius: 20px;       
    }

    .image-wrapper {
        margin: 35px 35px 0 35px;
    }

    .image-wrapper {
        width: auto;
        height: auto;                       
        border-radius: 10px;             
    }

    .image-wrapper img {        
        object-fit: fill;        
        width: 100%;
        height: 100%;
        border-radius: 10px; 
    }

    .recipe-wrapper { 
        margin: auto 35px;      
        width: 470px;             
    }   

    .title-wrapper, .prep-wrapper, 
    .ingredients-wrapper, .instructions-wrapper, 
    .nutrition-wrapper {
        margin: 0 auto;       
        width: 470px;       
    }

    .title-wrapper {
        padding-bottom: 7px;
    }

    .prep-wrapper {
        padding: 7px 0;         
    }

    .prep-wrapper p, .prep-wrapper ul {
        margin-left: 15px;
    }


    /* UTILITIES */

    .title-mf {
        font-size: 1.9rem;               
    }
    
    .title-f {
        font-size: 1.65rem;
    }

    .title-text {
        margin-bottom: 20px;
    }

    /* BLOCKS */


    .title-wrapper p {
        margin-top: 0px;
    }

    .separator {
        margin: 35px 0;
    }
    
    table {              
        width: 470px;
        text-align: left;       
    }

    th {
        padding: 12px 30px;
    }

    td {
        padding: 12px -35px;
    }     

}

@media screen and (min-width: 768px) {

    main {
        margin: 60px auto;
    }
}


@media screen and (min-width: 1440px) {   

    main {             
        width: 720px;           
        margin: 100px auto;                   
    }   

    .full-recipe-wrapper {        
        width: 720px;             
    } 

    .title-wrapper, .recipe-wrapper, .prep-wrapper, 
    .ingredients-wrapper, .instructions-wrapper, 
    .nutrition-wrapper {             
        width: 650px;       
    }  

    .title-mf {
        font-size: 2.5rem;               
    }

    .title-f {
        font-size: 1.75rem;
    }
    
    table {              
        width: 650px;              
    }

}